 <div class="card">
           <img src="~/user/img/solar.jpg" class="card-img-top" alt="...">
             <div class="card-body mx-2">
                 <h5 class="card-title text-center text-white mx-2">العرض الاول</h5>
                 <p class="card-text mx-2"> <i class="far fa-arrow-alt-circle-left mx-2"></i> 8 كيلو واط </p>
                 <p class="card-text mx-2"> <i class="far fa-arrow-alt-circle-left mx-2"></i> لوحة24 </p>
                 <p class="card-text mx-2"> <i class="far fa-arrow-alt-circle-left mx-2"></i> المنظم </p>
                 <p class="card-text mx-2"> <i class="far fa-arrow-alt-circle-left mx-2"></i> شاملة التركيب </p>
                 <p class="card-text text-center text-white fs-5 pt-2"> SAR 34,900 (شاملة الضريبة) </p>
         
         <div class="btn-block">
              <a href="#" class="btn btn-warning align-content-sm-center   btn-toolbar mx-auto ">  شراء </a>
         </div>
       </div>
     </div>